body{
    margin: 0;
    padding: 0;
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;

}

.login{
    width: 380px;
    overflow: hidden;
    margin: auto;
    padding: 80px;
    background: rebeccapurple;
    border-radius: 15px;
}
h2{
    text-decoration: underline;
    text-align: center;
    color: black;
    padding: 20px;
}
label{
    font-size: 20px;
}
#uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
    font-weight: 700;
}
span{
    font-size: 15px;
    font-weight: 700;
}
a{
    /* float: right; */
    font-weight: 700;
}
